/* Variables Globales */
:root {
  --marron1: #523000;
  --marron2: #9C5B00;
  --gris1:#222121;
  --dorado1:#C97600;
  --celeste1:#2B7BAD;
  --celeste2:#70C5FA;
  --cremita1:#FAC170;
  --cremita2:#FFCF8C;
}

/* Estilos de botón */
.btn.btn-primary {
  background-color: var(--celeste1);
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn.btn-primary:hover {
  background-color: var(--celeste2);
}

/* Estilos de enlaces */
a {
  text-decoration: none;
  color: var(--celeste1);
}

a:hover {
  color: var(--celeste2);
}

/* Estilos del cuerpo del documento */
body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: var(--gris1);
}

/* Estilos de la barra de navegación */
nav {
  background-color: var(--marron1);
  padding: 10px;
}

a.nav-link {
  color: white;
}

a.activo {
  font-weight: bold;
}

.nav-link:hover {
  color: var(--celeste1);
}

.nav-link.activo:hover {
  color: var(--celeste1);
  text-shadow: 0 0 20px var(--celeste1);
}

/* Estilos del baner */
#baner {
  background-image: url(../img/fondo-baner.jpeg);
  min-height: 10rem;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos de la lista de mazos */
.listamazo {
  background-color: var(--marron1);
  padding: 10px;
  box-shadow: 2px 2px 10px black;
  margin-top: 50px;
  width: 400px;
}

/* Estilos del deckbuilder */
#deckbuilder {
  background-color: var(--dorado1);
}

/* Estilos del formulario de filtro de cartas */
form#filtro-carta {
  background-color: var(--marron2);
}

/* Estilos de la tabla de usuarios */
#tabla-usuarios thead {
  background-color: var(--dorado1);
}

#tabla-usuarios tbody {
  background-color: var(--marron2);
}

/* Estilos de otros formularios y cartas adicionales */
form, .card {
  background-color: var(--marron2);
}

/* Estilos adicionales */
.img-logo {
  width: 3rem;
  height: 3rem;
}

.img-logo-carta-en-mazo {
  width: 2rem;
  height: 2rem;
}

.card-deck {
  background-color: var(--dorado1);
  padding: 0.2rem;
  margin: 0.2rem;
}

select > option {
  background-color: var(--gris1);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-moz-number-spin-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.centrado {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-link{
  color: aliceblue;
}

.image-container {
  overflow: hidden; 
  height: 100%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.img-fluid:hover {
  transform: scale(2.0); 
  transition: transform 0.3s ease; 
}